In [3]:
#Print first and last ch

name = "kiShor pasha"
print(name[0])
print(name[-1])

#end

K
a

In [14]:
#string methods
name = "kiShor pAsha"

print(name.upper())
print(name)
print(name.lower())
print(name)
print(name.title())
print(name)
print(name.split())
print(name)

#end

KISHOR PASHA
kiShor pAsha
kishor pasha
kiShor pAsha
Kishor Pasha
kiShor pAsha
['kiShor', 'pAsha']
kiShor pAsha

In [25]:
#string Formating

first_name = input()
last_name = input()
print("My name is {} {} ".format(first_name, last_name))

print(f"Name is {first_name} {last_name}")

#end

Kishor
Pasha
My name is Kishor. Pasha.
Name is Kishor Pasha

In [22]:
#James Bond Intro
name = input("Name? : ")
f_name = name.split()[0]
l_name = name.split()[1]

print(f"Names {l_name}, {f_name} {l_name}")

#end

Name? : James Bond
Names Bond, James Bond

In [37]:
#list

tinGoyenda = ["Kishor Pasha", 3878, "PC-A"]
print(tinGoyenda)
print(f"Name: {tinGoyenda[0]} \nID: {tinGoyenda[1]} \nSection: {tinGoyenda[2]}\n{type(tinGoyenda)}")

print(len(tinGoyenda))
#end

['Kishor Pasha', 3878, 'PC-A']
Name: Kishor Pasha
ID: 3878
Section: PC-A
<class 'list'>
3

In [14]:
#operators and statements : Gradding System

marks = float(input("Enter Your Marks: "))

if 0<=marks<40:
    print("F")
elif 39<marks<45:
    print("D")
elif 44<marks<50:
    print("C")
elif 49<marks<55:
    print("C+")
elif 54<marks<60:
    print("B-")
elif 59<marks<65:
    print("B")
elif 64<marks<70:
    print("B+")
elif 69<marks<75:
    print("A-")
elif 74<marks<80:
    print("A")
elif 79<marks<=100:
    print("A+")
else:
    print("Invalid")

#end

Enter Your Marks: 100
A+

In [24]:
#Youngest and Oldest

person1 = int(input("Person 1 Age: "))
person2 = int(input("Person 2 Age: "))
person3 = int(input("Person 3 Age: "))


if person2 < person1 > person3:
    if person2 > person3:
        print("Person 1 is Oldest and Person 3 is Youngest")
    else:
        print("Person 1 if Oldest and Person 2 is Younest")
        
if person2 > person1:
    if person1 > person3:
        print("Person 2 is Oldest and Person 3 is Youngest")
    else:
        print("Person 2 if Oldest and Person 1 is Younest")
            
if person3 > person2:
    if person2 > person1:
        print("Person 1 is Oldest and Person 1 is Youngest")
    else:
        print("Person 1 if Oldest and Person 2 is Younest")

#end

Person 1 Age: 10
Person 2 Age: 20
Person 3 Age: 30
Person 2 if Oldest and Person 1 is Younest
Person 1 is Oldest and Person 1 is Youngest