In [2]:
print("Hello World")

Hello World

In [8]:
a = 10
b = 11
print(f"Sum of a and b is {a+b}")

Sum of a and b is 21

In [10]:
if b > a:
  print("B is greater than A")
elif a == b:
  print("A and b is equal")
else:
  print("A is greater than b")

B is greater than A

In [11]:
#Nested IF
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [13]:
i = 1
while i < 21:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [19]:
i = 50
while i >= 20:
  print(i)

  if i == 30: break
  i -= 2

50
48
46
44
42
40
38
36
34
32
30

In [20]:
i = 50
while i >= 20:
  print(i)

  if i == 30: break
  i -= 2

50
48
46
44
42
40
38
36
34
32
30

In [26]:
i = 50
while i >= 20:
  i -= 2
  print(i)
  if i == 30: continue

48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18

In [29]:
#list array

country = ["Bangladesh", "India", "Nepal", "Srilanka"]

len(country)

4

In [30]:
country = ["Bangladesh", "India", "Nepal", "Srilanka"]

for x in country:
  print(x)

Bangladesh
India
Nepal
Srilanka

In [33]:
country = ["Bangladesh", "India", "Nepal", "Srilanka"]

country.append("Mayanmar")
for x in country:
  print(x)

Bangladesh
India
Nepal
Srilanka
Mayanmar

In [ ]:
country = ["Bangladesh", "India", "Nepal", "Srilanka"]

country.append("Mayanmar")
for x in country:
  print(x)